<!DOCTYPE html>
<html>
<head>
  <title>Sticker Board</title>
  <link rel="stylesheet" href="/css/index.css">
<!-- important font here -->
</head>



<body>
<%- include('includes/header') %>
         <% if (locals.errors) { %>
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger messagecss"><%= error.msg %></div>
        <% }) %>
          <% } %>


<nav class="st-container">
  <ul>
  <div class="floatleft">
      <li ><a href="/">Sticker Board</a></li>
      <li ><p>Hi, <%-locals.user%></p></li>
  </div>
  <div class="floatright">
      <li ><a href="/users/logout">Logout</a></li>
  </div>
  </ul>
</nav>

<button class="btn-nav">
<div class="bar arrow-top-r"></div>
<div class="bar arrow-middle-r"></div>
<div class="bar arrow-bottom-r"></div>
</button>
</div>


<nav class="nav-container hidden hideNav">
  <ul class="nav-list" >

  </ul>
</nav>


<div class="row">

    <div class="col-md-12 dashboard">
 <ul class="dashboardUl">
 <!-- add sticker here-->
  </ul>
  </div>
</div>







<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="/js/view.js" type="text/javascript"></script>



</body>
</html>