<!DOCTYPE html>
<html>

<head>

  <title>Magistic Note</title>
  <link rel="stylesheet" href="/css/index.css">
<!-- important font here -->
</head>

<%- include('includes/header') %>
         <% if (locals.errors) { %>
        <% errors.forEach(function(error){ %>
            <div class="alert alert-danger messagecss"><%= error.msg %></div>
        <% }) %>
          <% } %>


<body  style="background-image: url('/bg.gif')!important; background-repeat: repeat-y;">


<nav style="z-index: 999;">
  <ul>
  <div class="floatleft">
      <li ><a style="font-size:120%;  color:#eee!important;"  href="/">Magistic Note</a></li>

      <li ><p style=" color:#eee!important;">Hi, <contains id=localuser> <%-locals.user.username%>    
      </contains></p></li>
  </div>
  <div class="floatright">
      <li ><a href="/users/logout">Logout</a></li>
  </div>
  </ul>
</nav>

<button class="btn-nav">
<div class="bar arrow-top-r"></div>
<div class="bar arrow-middle-r"></div>
<div class="bar arrow-bottom-r"></div>
</button>

<button class="btn-nav">
<button class="add" id="addnote">+</button>
</button>


<nav class="nav-container hidden hideNav">
  <ul class="nav-list" >

  </ul>
</nav>


<div class="row">

    <div class="col-md-12 dashboard">
 <ul class="dashboardUl">
 <!-- add sticker here-->

  </ul>
  </div>
</div>







<script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script src="/js/view_users.js" type="text/javascript"></script>

<script type="text/javascript">
   
</script>


</body>
</html>