
body {
    background-color: #6c7980;
    height:100%;
}

.reg-page,
.login-page {
    padding-top: 40px;
    padding-bottom: 40px;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}

.form-signin .checkbox {
    font-weight: normal;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.messagecss {
    padding-top: 100px;
}

@import url(http://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/* Navigation */

nav {
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    background: #1ABC9C;
}

nav ul {
    padding: 20px;
    margin: 0 auto;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    padding: 10px 0;
    color: #fff;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.2s ease;
}

nav ul li a:hover {
    color: #34495E;
}

a.active {
    border-bottom: 2 px solid #ecf0f1;
}


/* Headings */

h1 {
    font-size: 5rem;
    color: #34495E;
}




//-----------------------------------------------------------------

body {


}

button {
    background: none;
    border: none;
}

button::-moz-focus-inner {
    border: 0;
}

:focus {
    outline: none;
}

::-moz-focus-inner {
    border: 0;
}

.btn-nav:hover {

    cursor: pointer;
}

.btn-nav:hover .bar {

    background: #fff;
}

.bar {
    display: block;
    height: 5px;
    width: 35px;
    background: #17BEBB;
    margin-top: 15%;
    /*background-color: #768888;*/
}

.btn-nav {
        z-index: 1;
    display: block;
    width: 50px;
    position: absolute;
    left: 18px;
    margin-top: 8%;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.btn-nav:focus {
    outline: none;
}

.middle {
    margin: 0 auto;
}

.bar {
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
    -ms-transition: all .7s ease;
    -o-transition: all .7s ease;
    transition: all .7s ease;
}

.animated {
    z-index: 999;
}

.animated .arrow-top-r {
    -webkit-transform: rotateZ(-45deg) translateY(11px);
    -moz-transform: rotateZ(-45deg) translateY(11px);
    -ms-transform: rotateZ(-45deg) translateY(11px);
    -o-transform: rotateZ(-45deg) translateY(11px);
    transform: rotateZ(-45deg) translateY(11px);
    width: 25px;
}

.animated .arrow-middle-r {
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
    transform: translateX(25px);
}

.animated .arrow-bottom-r {
    -webkit-transform: rotateZ(45deg) translateY(-11px);
    -moz-transform: rotateZ(45deg) translateY(-11px);
    -ms-transform: rotateZ(45deg) translateY(-11px);
    -o-transform: rotateZ(45deg) translateY(-11px);
    transform: rotateZ(45deg) translateY(-11px);
    width: 25px;
}

.nav-container {
    position: absolute;
    left: -50%;
    top: 0;
    background: #34515E;
    height: 80%;
    width: 100px;
    margin-top: 7%;
    opacity: 0.8;
}

.nav-list {
    cursor: pointer;
    list-style-type: none;
    top: 50%;
    text-align: center;
    position: relative;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

.list-item {
    border: 2px solid #fff;
    width: 40px;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.list-item:hover {
    border: 2px solid #17BEBB;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.list-item:hover .fa {
    color: #17BEBB;
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    transform: scale(1.5);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.list-item a {
    display: block;
}

.fa {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -ms-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

@keyframes showNav {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-webkit-keyframes showNav {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-moz-keyframes showNav {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

@-o-keyframes showNav {
    from {
        left: -100%;
    }
    to {
        left: 0;
    }
}

.showNav {
    -webkit-animation: showNav .5s ease forwards;
    -moz-animation: showNav 1s ease forwards;
    -o-animation: showNav 1s ease forwards;
    animation: showNav .5s ease forwards;
}

@keyframes hideNav {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@-webkit-keyframes hideNav {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@-moz-keyframes hideNav {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

@-o-keyframes hideNav {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.hideNav {
    -webkit-animation: hideNav 1s ease forwards;
    -moz-animation: hideNav 1s ease forwards;
    -o-animation: hideNav 1s ease forwards;
    animation: hideNav 1s ease forwards;
}

.hidden {
    display: none;
}

h1 {
    position: absolute;
    top: 150px;
    left: 250px;
    color: #fff;
}

.colorlabel {
    display: block;
    font-size: 1.7em;
}


/*------------------------------*/

.dashboard{
    z-index: 0;
    top:8vh;
    left:15vh;
    height:90vh;
    width: 93vw !important;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
   /* border: 2px solid red;
    border-radius: 8px;
*/
  
}









/*-------------------sticker-----------------------*/

.dashboard hr{
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.dashboard ul{
  overflow:hidden;
  padding:3em;
}
.dashboard ul li a{
   /*title font add here*/
  text-decoration:none;
  color:#000;
  background:#ffc;
  display:block;
  height:10em;
  width:10em;
  padding:0.5vh;
  -moz-box-shadow:5px 5px 7px rgba(33,33,33,1);
  -webkit-box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  -moz-transition:-moz-transform .15s linear;
  -o-transition:-o-transform .15s linear;
  -webkit-transition:-webkit-transform .15s linear;
}
.dashboard ul li{
  margin:1em;
  float:left;
  list-style:none;
}
.dashboard ul li .tag{
  font-size:120%!important;
  font-weight:bold;
 color:#708080!important;
}

.dashboard ul li a{
  word-wrap: break-word; 
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform:rotate(-6deg);
}
.dashboard ul li:nth-child(even) a{
  -o-transform:rotate(4deg);
  -webkit-transform:rotate(4deg);
  -moz-transform:rotate(4deg);
  position:relative;
  top:5px;
  background:#cfc;
}
.dashboard ul li:nth-child(3n) a{
  -o-transform:rotate(-3deg);
  -webkit-transform:rotate(-3deg);
  -moz-transform:rotate(-3deg);
  position:relative;
  top:-5px;
  background:#ccf;
}
.dashboard ul li:nth-child(5n) a{
  -o-transform:rotate(5deg);
  -webkit-transform:rotate(5deg);
  -moz-transform:rotate(5deg);
  position:relative;
  top:-10px;
}
.dashboard ul li a:hover,ul li a:focus{
  box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -moz-box-shadow:10px 10px 7px rgba(0,0,0,.7);
  -webkit-box-shadow: 10px 10px 7px rgba(0,0,0,.7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position:relative;
  z-index:5;
}



.dashboard input{
float:none;

}

/*.dashboard ol{text-align:center;}
.dashboard ol li{display:inline;padding-right:1em;}
.dashboard ol li a{color:#fff;}
*/
/*
.dashboard .tag{
  margin-top: 3px !important;
  margin-bottom: 3px !important;
}*/


.dashboard h2{
  font-size:100%!important; 
    margin-top: 1px !important;
  margin-bottom: 1px !important;
 
}

/*.dashboard ul li p{
  font-family:;
  font-size:180%;
  margin-bottom: 1px !important;
}*/











